<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Handwriting Improver: {{ article.title }}</title>
    {% include 'wikipedia_converter/navbar.html' %}
</head>
<body class="text-light bg-dark">
<div class="container">
    <h1 class="text-center">{{ article.title }}</h1>
    <p class="text-lowercase" id="article">
        {{ article_text_formatted|linebreaksbr }}
    </p>
</div>
<script src="{% static 'wikipedia_converter/js/article.js' %}"></script>
<!-- this javascript has to be in the html file to access the context variables-->
<script>
    downloadButton.value = "{{ article.title }}";
    let articleTextFormatted = "{{ article_text_formatted|linebreaksbr }}";
    let articleTextOriginal = "{{ article.content|linebreaksbr }}";
</script>
</body>
</html>