{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Handwriting Improver">
    <meta name="keywords" content="Handwriting, Learning, Education">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Handwriting Improver{% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
              integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet"
              href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'wikipedia_converter/css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'wikipedia_converter/css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'wikipedia_converter/css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'wikipedia_converter/css/main.css' %}">
    {% endblock stylesheets %}

    {% block favicon %}
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'wikipedia_converter/images/handwriting icon.svg' %}">
    {% endblock favicon %}
</head>
<body class="bg-{{ request.user.bg_theme }} text-{{ request.user.text_theme }}">

{% block navbar %}
    {% include 'wikipedia_converter/components/header.html' %}
{% endblock navbar %}

{% block content %}{% endblock content %}

{% block footer %}
    {% include 'wikipedia_converter/components/footer.html' %}
{% endblock footer %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>
    <script type="module" src="{% static 'wikipedia_converter/js/main.mjs' %}"></script>
    <script type="text/javascript" src="{% static 'wikipedia_converter/js/navbar.js' %}"></script>
    <script type="module" src="{% static 'wikipedia_converter/js/reusables.mjs' %}"></script>
{% endblock scripts %}
</body>
</html>