<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'wikipedia_converter/css/footer.css' %}">
</head>
<body>
<!-- Footer -->
<footer class="bg-dark text-center text-light">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Gitlab -->
            <a class="btn bg-dark text-light btn-floating m-1"
               href="https://gitlab.com/username882/django-learning"
               role="button"
               target="_blank"
               rel="noopener noreferrer">
                <i class="bi bi-git"></i>
            </a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                This is the Handwriting Improver.
            </p>
        </section>
        <!--Grid column-->
        <section class="">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Privacy</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'wikipedia_converter:privacy' %}">Privacy</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'wikipedia_converter:about' %}">About</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-black text-light">
        © 2020 Copyright:
        <a class="text-light" href="https://gitlab.com/username882"
           target="_blank"
           rel="noopener noreferrer">
            David Richter
        </a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>