<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Handwriting Improver</title>
    {% include 'wikipedia_converter/navbar.html' %}
</head>
<body class="bg-dark text-light">
<div class="container">
<h1 class="text-center">Handwriting Improver</h1>
</div>
<div class="container ">
    <form method="POST" id="mainForm" class="bg-dark text-light" action="{% url 'wikipedia_converter:getArticles' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-light btn-outline-light" id="basic-addon3">
                    Article:
                </span>
            </div>
            <input type="text" id="mainInput" class="bg-dark text-light btn-outline-light form-control" name="search" placeholder="Search">
            <div class="input-group-append">
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end animate slideIn bg-dark text-light text-center" aria-labelledby="dropdownMenuLink">
                        <li>
                            <input type="radio" id="child" name="language" value="en" checked>
                            <label for="child">English</label><br>
                            <input type="radio" id="child" name="language" value="de">
                            <label for="child">Deutsch</label><br>
                            <input type="radio" id="child" name="language" value="fr">
                            <label for="child">Français</label><br>
                            <input type="radio" id="child" name="language" value="ru">
                            <label for="child">Русский</label><br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <input type="submit" value="Search" class="btn btn-primary">
    </form>
    <br>
    <div class="border rounded">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date Downloaded</th>
                    <th scope="col">Delete</th>
                    <!--<th scope="col">ID</th>-->
                </tr>
            </thead>
            <tbody>
        {% for article in articles %}
                <tr>
                    <td>
                        <a href="{% url 'wikipedia_converter:getArticleFromDb' article.id %}">
                            {{ article }}
                        </a>
                    </td>
                    <td>
                        {{ article.date_pulled }}
                    </td>
                    <td>
                        <a href="{% url 'wikipedia_converter:deleteArticleFromDb' article.id %}"
                           class="btn btn-outline-danger">
                            <i class="bi-trash"></i>
                        </a>
                    </td>
                </tr>
            <!--<p class="border rounded p-2"></p>-->
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="{% static 'wikipedia_converter/js/index.js' %}"></script>
{% include 'wikipedia_converter/footer.html' %}
</body>
</html>