{% extends 'wikipedia_converter/base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Privacy
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center">This article doesn't seem to exist!</h1>
        <p>{{ error_message }}</p>
        <img src="" alt="not found gif" id="not-found-gif" class="img-fluid rounded mx-auto d-block">
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'wikipedia_converter/js/not_found.js' %}"></script>
{% endblock scripts %}