{% extends 'wikipedia_converter/base.html' %}
{% load static %}

    {% block title %}
        {{ block.super }} - "{{ original_search_request }}" may refer to
    {% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center">"{{ original_search_request }}" may refer to:</h1>
        <ul>
        {% for i in options %}
            <li>
            <form method="post" action="{% url 'wikipedia_converter:article' %}" class="inline">
                {% csrf_token %}
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="title" value="{{ i }}" class="btn btn-link">
                  {{ i }}
                </button>
            </form>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'wikipedia_converter/js/options.js' %}"></script>
{% endblock scripts %}
