{% extends "registration/base_generic.html" %}

{% block title %}{{ block.super }} - Login{% endblock title %}

{% block content %}
<div class="container text-dark">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
                <form class="bg-white rounded p-5"
                      method="POST"
                      action="{% url 'login' %}">
                    {% csrf_token %}
                    <h2 class="text-center">Login</h2>
                    <br>
                    <div class="form-outline mb-4">
                        <input id="form1Example1" class="form-control" name="username"/>
                        <label class="form-label" for="form1Example1">Username</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4 ">
                        <input type="password" id="form1Example2" class="form-control" name="password"/>
                        <label class="form-label" for="form1Example2">Password</label>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <br>
                    <br>
                    <p>Dont have an account? <a href="{% url 'getCreateUser' %}">Create one!</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
