<a class="navbar-brand bg-dark text-light"
   href="{% url 'wikipedia_converter:Index' %}"
   data-bs-toggle="tooltip"
   data-bs-placement="bottom"
   title="Home">
    <i class="bi bi-house-door"></i>
</a>
<button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <button type="button"
                    class="btn bg-dark text-light nav-item"
                    id="themeToggler"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Switch theme">
                <i class="bi bi-brightness-high-fill"></i>
            </button>
        </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right">
        {% if request.user.is_authenticated %}
            <li class="nav-item my-2 my-sm-0">
                <a class="btn bg-dark text-light nav-link"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Logout"
                   href="{% url 'logout' %}">
                    <i class="bi bi-box-arrow-in-right" id="logout"></i>
                </a>
            </li>
        {% else %}
            <li class="nav-item my-2 my-sm-0">
                <a class="btn bg-dark text-light nav-link"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Login"
                   href="{% url 'login' %}">
                    <i class="bi bi-box-arrow-in-left" id="login"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
