/********* Simple or original overlay *******/

/* Main container */
.overlay-image {
  position: relative;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* Original image */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

/* Original text overlay */
.overlay-image .text {
  text-align: center;
  position: absolute;
  top: 94%;
  left: 87%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text {
  width: 101px;
  height: 36px;
}

#not-found-gif {
  width: 500px;
  height: 500px;
}